@inject Microsoft.Extensions.Localization.IStringLocalizer<DotNetSigningServer.Resources.SharedStrings> L
@{
    ViewData["Title"] = L["LegalTitle"].Value;
}

<div class="legal-list">
    <h1>@L["LegalTitle"]</h1>
    <p>@L["LegalDescription"]</p>

    <ul>
        <li><a href="/Legal/TermsOfService">@L["LegalTermsOfService"]</a></li>
        <li><a href="/Legal/PrivacyPolicy">@L["LegalPrivacyPolicy"]</a></li>
        <li><a href="/Legal/DataProcessingAgreement">@L["LegalDpa"]</a></li>
        <li><a href="/Legal/ServiceLevelAgreement">@L["LegalSla"]</a></li>
        <li><a href="/Legal/RefundPolicy">@L["LegalRefundPolicy"]</a></li>
        <li><a href="/Legal/CookiesPolicy">@L["LegalCookiesPolicy"]</a></li>
        <li><a href="/Legal/OpenSourceNotices">@L["LegalOpenSourceNotices"]</a></li>
        <li><a href="/Legal/License">@L["LegalAgplLicense"]</a></li>
    </ul>
</div>
